# Aws Region
region="us-west-2"

# AMI id
ami="ami-d926ebb9"

# SSH key name
ssh-key-name="CHANGEME"

# S3 is used for key distribution : prefix of "kubernetes-" for instances via IAM instance policy.
s3-ca-storage-bucket="CHANGEME"

# VPC
vpc-cidr-block="172.31.0.0/16"

# Subnets
num-subnets=3
subnet-0-cidr="172.31.0.0/24"
subnet-1-cidr="172.31.1.0/24"
subnet-2-cidr="172.31.2.0/24"

# Tag lookup using Tag=KubernetesCluster=Value
cluster-name="CHANGEME"

# The range kubernetes will use for the entire cluster.
cluster-cidr="10.244.0.0/16"

# The range kubernetes will use for all 'services'
service-cluster-ip-range="10.0.0.0/16"

# The service IP that kubernetes will use for DNS. Must be an address in the service-cluster-ip-range.
cluster-dns="10.0.0.10"

# Master Cluster Size
master-cluster-size="1"
master-instance-type="t2.micro"

# Minion Cluster Size
minion-cluster-size="1"
minion-instance-type="t2.micro"

